@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/visuall';

@import './components/base';
@import './components/page-header';
@import './components/logo';
@import './components/site-nav';
@import './components/contacts-header';
@import './components/hero';
@import './components/desc';
@import './components/work';
@import './components/team';
@import './components/partners';
@import './components/pager-footer';
@import './components/social';
@import './components/subscribe';
@import './components/modal';
@import './components/portfolio';
@import './components/gallery';
